.sobre-nos{
    padding: 0;
    margin: 0;
}
/*titulo-sobre*/
.titulo-sobre{
    position: relative;
    max-width: 100vw; /* Defina a largura máxima do contêiner conforme necessário */
    margin: 0px auto; /* Centralize o contêiner horizontalmente */
}
.img-fundo-titulo{
    max-width: 100%;
    height: auto;
    display: block;
    border-bottom: 5px solid var(--rosa-claro);
    border-top: 5px solid var(--rosa-claro);
}
.texto-sobre-imagem{
    position: absolute;
    top: 50%; /* Ajuste a posição vertical do texto conforme necessário */
    left: 50%; /* Ajuste a posição horizontal do texto conforme necessário */
    transform: translate(-50%, -50%); /* Centralize o texto no centro do contêiner */
    color: #fff; /* Cor do texto */
    padding: 10px; /* Espaçamento interno do texto */
    text-align: center; /* Centralize o texto horizontalmente */
    max-width: 100%;
}
.texto-imagem{
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    font-weight: 900;
    text-shadow: 0px 3px 3px var(--rosa-medio);
    text-wrap: nowrap;
}
/*titulo do slide*/


/*auto-slide*/
.h3-slide{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    text-wrap: nowrap;
    text-align: center;
    align-items: center;
    text-shadow: 0px 3px 3px var(--rosa-escuro);
    color: var(--rosa-claro);
    letter-spacing:0.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
/*card*/
.h2-slide{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: 900;
    text-wrap: nowrap;
    text-align: center;
    align-items: center;
    text-shadow: 0px 3px 3px var(--rosa-escuro);
    color: var(--rosa-claro);
}
.titulo-descrição{
    max-width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.3vw;
}
.descrição{
    display: flex;
    flex-direction: column;
    border-left: 0.2vw solid #ffffff;
    margin-right: 1.5vw;
}
.cards{
    display: flex;
    justify-content: center;
}
/* Objetivos */
.h2-objetivo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.45vw;
    font-weight: 700;
    text-align: justify;
    align-items: center center;
    text-shadow: 0px 3px 3px var(--rosa-escuro);
    color: var(--rosa-claro);
    max-width: 55vw;
    margin-left: 0.8vw;
    margin-top: 1vw;
}
/*finalidade*/
.p-finalidade{
    font-family: 'Roboto', sans-serif;
    font-size: 1.45vw;
    font-weight: 700;
    text-align: justify;
    align-items: center center;
    text-shadow: 0px 3px 3px var(--rosa-escuro);
    color: var(--rosa-claro);
    max-width: 55vw;
    margin-left: 0.8vw;
}
.sobre-projeto{
    display: flex;
    justify-content: space-between;
    margin: 5vw 0vw;
}
/*endereço*/
.Endereço{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.escola{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: justify;
    align-items: center center;
    color: var(--rosa-claro);
    text-transform: uppercase;
    color: var(--rosa-footer);
    margin: 0 0 1vw 0;
}
.localização{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: justify;
    align-items: center center;
    color: var(--rosa-footer);
    margin-bottom: 2vw;

}
