/* CSS */
@import url("header.css");
@import url("reset.css");
@import url("slide.css"); 
@import url("sobre-nos.css");

/*js*/


/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
/*Fim de fontes*/

:root{
   --rosa-escuro:#89023e;
   --rosa-medio:#ea638c;
   --rosa-claro:#ffd9da;
   --vermelho-teste:#670006;
   --rosa-footer:#f59bb6;
   --fonte-principal:"Roboto";
}
body{
   background-color: var(--rosa-medio);
   font-family: 'Alata', sans-serif;
   font-size: 30px;
   font-weight: 400;
}